<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
    <title>404 Error</title>
    <style>
        .error-container {
            background-image: url("../images/404-error.webp");
            background-size: cover;
            height: 100vh;
            color: red;
        }
    </style>
</head>
<body>
    {{!-- {{> navbar isAthenticated=isAthenticated}} --}}
    <main class="error-container">
    </main>
</body>
</html>