<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <title>MyPortfolio | About</title>
</head>

<body>
    {{> navbar isAthenticated=isAthenticated}}
    <section id="hero" class="d-flex flex-column text-white">
        <!-- ======= About Section ======= -->
        <div id="about" class="about-mf sect-pt4 route">
            <div class="container about-container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box-shadow-full">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-5">
                                            <div class="about-img">
                                                <img src="images/profile.png" class="img-fluid rounded b-shadow-a"
                                                    alt="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-7">
                                            <div class="about-info">
                                                <p><span class="title-s">Name: </span> <span>Subrata Das</span></p>
                                                <p><span class="title-s">Profile: </span> <span>Full Stack
                                                        Developer</span>
                                                </p>
                                                <p><span class="title-s">Email: </span>
                                                    <span>subrata3250das@gmail.com</span>
                                                </p>
                                                <p><span class="title-s">Phone: </span> <span>+91 9749844740</span></p>
                                                <p><span class="title-s">Freelance: </span> <span>Available</span></p>
                                                <p><span class="title-s">Website: </span> <span><a href="/">Click
                                                            Here</a></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill-mf">
                                        <p class="title-s">Skill</p>
                                        <span>Python</span> <span class="pull-right">80%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 80%"
                                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>HTML</span> <span class="pull-right">85%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 85%;"
                                                aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>CSS3</span> <span class="pull-right">75%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 75%"
                                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>JavaScript</span> <span class="pull-right">60%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 60%"
                                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <span>Django</span> <span class="pull-right">50%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 50%"
                                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="about-me pt-4 pt-md-0">
                                        <div class="title-box-2">
                                            <h5 class="title-left">
                                                About me
                                            </h5>
                                        </div>
                                        <p class="lead">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quos, iste
                                            cumque odit itaque aperiam illum esse autem est non assumenda officia quis
                                            labore aut mollitia recusandae nulla. Quis fuga ex numquam voluptas sit
                                            officia voluptatem. Aliquam omnis nihil dignissimos accusamus enim.
                                            Laboriosam atque maxime corrupti quia molestiae. Quae, illum.
                                        </p>
                                        <p class="lead">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed sit voluptatem
                                            voluptatibus praesentium ducimus harum debitis facere eveniet obcaecati
                                            placeat hic minima, aliquid quia, dolore labore optio, impedit recusandae.
                                            Fuga consectetur eligendi inventore iste error accusantium facere quas vitae
                                            fugit laboriosam expedita cum aliquid vero facilis repellat, nisi nesciunt
                                            rem?
                                        </p>
                                        <p class="lead">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis voluptatibus
                                            vel iusto quisquam nemo quibusdam recusandae neque sint magnam enim eum
                                            aperiam debitis quam tenetur reiciendis beatae ipsa dignissimos, soluta est.
                                            Voluptate, reprehenderit ut. Necessitatibus quod assumenda debitis facere
                                            eaque quas fuga vel alias ab itaque fugiat nam, dolore numquam.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End About Section -->
    </section>
    {{> footer}}
</body>

</html>