<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <title>MyPortfolio | Certificates</title>
</head>

<body>
    {{> navbar isAthenticated=isAthenticated superUser=superUser}}
    <section id="hero" class="d-flex flex-column text-white">
        <div class="container">

            <div class="title-left mt-4">
                <h2 class="fw-bold">Certificates</h2>
            </div>

            <div class="row">
                <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
                    <div class="col certificate-container">
                        <div class="card border-info">
                            <img src="images/certificates/vu-codefest.jpg" class="card-img-top" alt="VU Codefest">
                            <div class="card-body">
                                <h5 class="card-title"><strong>VU Codefest 2023</strong></h5>
                                <h6>Issued By : <b>Vidyasagar University &#40;Department of CS&#41;</b></h6>
                                <p>Issued On : <b>March 23, 2023</b></p>
                                <a href="images/certificates/vu-codefest.jpg" target="_blank" class="btn btn-primary"
                                    download>Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="col certificate-container">
                        <div class="card border-info">
                            <img src="images/certificates/great-learning-java.png" class="card-img-top" alt="Java Great Learning">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Java Programming</strong></h5>
                                <h6>Issued By : <b>Great Learning Academy</b></h6>
                                <p>Issued On : <b>February 12, 2023</b></p>
                                <a href="images/certificates/great-learning-java.png" target="_blank" class="btn btn-primary"
                                    download>Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="col certificate-container">
                        <div class="card border-info">
                            <img src="images/certificates/python-fundamentals-for-beginners.png" class="card-img-top" alt="Python Great Learning">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Python Fundamentals for beginners</strong></h5>
                                <h6>Issued By : <b>Great Learning Academy</b></h6>
                                <p>Issued On : <b>April 23, 2023</b></p>
                                <a href="images/certificates/python-fundamentals-for-beginners.png" target="_blank" class="btn btn-primary"
                                    download>Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="col certificate-container">
                        <div class="card border-info">
                            <img src="images/certificates/skill-academy-python-for-beginners.jpg" class="card-img-top" alt="Skill Academy Python">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Introduction to Python for beginners</strong></h5>
                                <h6>Issued By : <b>Skill Academy</b></h6>
                                <p>Issued On : <b>August 20, 2022skill-academy-html-for-beginners.jpg</b></p>
                                <a href="images/certificates/skill-academy-python-for-beginners.jpg" target="_blank" class="btn btn-primary"
                                    download>Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="col certificate-container">
                        <div class="card border-info">
                            <img src="images/certificates/skill-academy-html-for-beginners.jpg" class="card-img-top" alt="HTML Skill Academy">
                            <div class="card-body">
                                <h5 class="card-title"><strong>HTML Tutorial for beginners</strong></h5>
                                <h6>Issued By : <b>Skill Academy</b></h6>
                                <p>Issued On : <b>September 04, 2022</b></p>
                                <a href="images/certificates/skill-academy-html-for-beginners.jpg" target="_blank" class="btn btn-primary"
                                    download>Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="col certificate-container">
                        <div class="card border-info">
                            <img src="images/certificates/sololearn-python-core.png" class="card-img-top" alt="Python Core">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Python Core</strong></h5>
                                <h6>Issued By : <b>Sololearn</b></h6>
                                <p>Issued On : <b>September 17, 2022</b></p>
                                <a href="images/certificates/sololearn-python-core.png" target="_blank" class="btn btn-primary"
                                    download>Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="col certificate-container">
                        <div class="card border-info">
                            <img src="images/certificates/python-for-oop-a-to-z.jpg" class="card-img-top" alt="Python for OOP">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Python for OOP: The A-to-Z OOP Python Programming Course</strong></h5>
                                <h6>Issued By : <b>Udemy</b></h6>
                                <p>Issued On : <b>April 23, 2023</b></p>
                                <a href="images/certificates/python-for-oop-a-to-z.jpg" target="_blank" class="btn btn-primary"
                                    download>Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="col certificate-container">
                        <div class="card border-info">
                            <img src="images/certificates/udemy-python-challenges-mcq.jpg" class="card-img-top" alt="MCQ Python Challenges">
                            <div class="card-body">
                                <h5 class="card-title"><strong>Complete Python Challenges, Python MCQ&amp; Python Recap in 2022</strong></h5>
                                <h6>Issued By : <b>Udemy</b></h6>
                                <p>Issued On : <b>September 06, 2022</b></p>
                                <a href="images/certificates/udemy-python-challenges-mcq.jpg" target="_blank" class="btn btn-primary"
                                    download>Download</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{> footer}}
</body>

</html>