<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <title>MyPortfolio | Home</title>
</head>

<body>
    {{> navbar isAthenticated=isAthenticated}}
    {{#if messageStatus}}
    <div class="alert alert-warning alert-dismissible fade show mt-3 mb-3" role="alert">
        <strong>{{messageStatus}}</strong> {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container">
            <h1>Subrata Das</h1>
            <p>I'm <span>Developer, Freelancer, Programmer!</span></p>
        </div>
    </section>
    {{> footer}}
</body>

</html>