<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
    <title>MyLibrary</title>
</head>
<body>
    {{> navbar isAthenticated=isAthenticated}}
    <main>
        <div class="box-container">
            <a href="/addq">Add Question</a>
            <a href="/questions">Networking</a>
        </div>
    </main>
</body>
</html>