<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <title>MyLibrary</title>
</head>

<body>
    {{> navbar isAthenticated=isAthenticated}}
    {{!-- Body section --}}
    <main class="library">
        <div class="library-container">
            <a href="/addq">Add Question</a>
            <div class="topics">
                {{!-- Advanced Networking --}}
                <div class="topic">
                    <div class="img-container">
                        <img src="images/ad_networking.jpeg" alt="Advanced Networking">
                    </div>
                    <div class="topic-name">Advanced Networking</div>
                    <div class="topic-description">
                        Advanced networking is a type of high throughput computing that can quickly transfer large
                        amounts of data around the world.
                    </div>
                    <div class="topic-question">
                        <a href="/questions?topic=advanced-networking">Questions</a>
                    </div>
                </div>
                {{!-- Network Security --}}
                <div class="topic">
                    <div class="img-container">
                        <img src="images/Network-Security.jpg" alt="Network Security">
                    </div>
                    <div class="topic-name">Network Security</div>
                    <div class="topic-description">
                        Network Security is a set of rules and configurations designed to protect the integrity,
                        confidentiality, and accessibility of computer networks and data using both software and
                        hardware technologies.
                    </div>
                    <div class="topic-question">
                        <a href="/questions?topic=network-security">Questions</a>
                    </div>
                </div>
                {{!-- IoT & Embedded System --}}
                <div class="topic">
                    <div class="img-container">
                        <img src="images/vulnerability-management-IoT-embedded-systems.jpg" alt="IoT & Embedded System">
                    </div>
                    <div class="topic-name">IoT & Embedded System</div>
                    <div class="topic-description">
                        The Internet of Things &#40;IoT&#41; is a network of interconnected devices that communicate
                        with each
                        other. Embedded systems are specialized computer systems that are designed to perform specific
                        tasks.
                    </div>
                    <div class="topic-question">
                        <a href="/questions?topic=iot-and-embedded-system">Questions</a>
                    </div>
                </div>
                {{!-- Machine Learning --}}
                <div class="topic">
                    <div class="img-container">
                        <img src="images/robot_humanoid_using_tablet_computer_big_data_analytic_1_94eab7101e.jpg"
                            alt="Machine Learning">
                    </div>
                    <div class="topic-name">Machine Learning</div>
                    <div class="topic-description">
                        Machine learning &#40;ML&#41; is a field of artificial intelligence &#40;AI&#41; that allows
                        systems to learn
                        and improve from experience without being explicitly programmed. ML is a method of data analysis
                        that automates analytical model building.
                    </div>
                    <div class="topic-question">
                        <a href="/questions?topic=machine-learning">Questions</a>
                    </div>
                </div>
                {{!-- Deep Learning --}}
                <div class="topic">
                    <div class="img-container">
                        <img src="images/socialcontrol-1218x535.jpg" alt="Deep Learning">
                    </div>
                    <div class="topic-name">Deep Learning</div>
                    <div class="topic-description">
                        Deep learning is a type of machine learning and artificial intelligence (AI) that teaches
                        computers to process data in a way that is inspired by the human brain. Deep learning models can
                        recognize complex patterns in pictures, text, sounds, and other data to produce accurate
                        insights and predictions.
                    </div>
                    <div class="topic-question">
                        <a href="/questions?topic=deep-learning">Questions</a>
                    </div>
                </div>
                {{!-- Electronics --}}
                <div class="topic">
                    <div class="img-container">
                        <img src="images/many-used-modern-electronic-gadgets-use-white-floor-reuse-recycle-concept-top-view-153892434.webp"
                            alt="Electronics">
                    </div>
                    <div class="topic-name">Electronics</div>
                    <div class="topic-description">
                        The term electronics is derived from the word “electrons”. Electronics is a branch of Physics
                        that deals with the theory and use of devices in which the electrons travel through a vacuum,
                        gas, or a semiconductor medium.
                    </div>
                    <div class="topic-question">
                        <a href="/questions?topic=electronics">Questions</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {{!-- Footer section --}}
    {{> footer}}
</body>

</html>