<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <title>MyLibrary</title>
</head>

<body>
    {{> navbar isAthenticated=isAthenticated}}
    <main class="library">
        <div class="library-container">
            <a href="/addq">Add Question</a>
            <div class="topics">
                <div class="topic">
                    <div class="img-container">
                        <img src="images/ad_networking.jpeg" alt="Advanced Networking">
                    </div>
                    <div class="topic-name">Advanced Networking</div>
                    <div class="topic-description">
                        Advanced networking is a type of high throughput computing that can quickly transfer large
                        amounts of data around the world.
                    </div>
                    <div class="topic-question">
                        <a href="/questions">Questions</a>
                    </div>
                </div>
                <div class="topic">
                    <div class="img-container">
                        <img src="images/Network-Security.jpg" alt="Network Security">
                    </div>
                    <div class="topic-name">Network Security</div>
                    <div class="topic-description">
                        Network Security is a set of rules and configurations designed to protect the integrity,
                        confidentiality, and accessibility of computer networks and data using both software and
                        hardware technologies.
                    </div>
                    <div class="topic-question">
                        <a href="/questions">Questions</a>
                    </div>
                </div>
                <div class="topic">
                    <div class="img-container">
                        <img src="images/Network-Security.jpg" alt="Network Security">
                    </div>
                    <div class="topic-name">Network Security</div>
                    <div class="topic-description">
                        Network Security is a set of rules and configurations designed to protect the integrity,
                        confidentiality, and accessibility of computer networks and data using both software and
                        hardware technologies.
                    </div>
                    <div class="topic-question">
                        <a href="/questions">Questions</a>
                    </div>
                </div>
                <div class="topic">
                    <div class="img-container">
                        <img src="images/Network-Security.jpg" alt="Network Security">
                    </div>
                    <div class="topic-name">Network Security</div>
                    <div class="topic-description">
                        Network Security is a set of rules and configurations designed to protect the integrity,
                        confidentiality, and accessibility of computer networks and data using both software and
                        hardware technologies.
                    </div>
                    <div class="topic-question">
                        <a href="/questions">Questions</a>
                    </div>
                </div>
                <div class="topic">
                    <div class="img-container">
                        <img src="images/Network-Security.jpg" alt="Network Security">
                    </div>
                    <div class="topic-name">Network Security</div>
                    <div class="topic-description">
                        Network Security is a set of rules and configurations designed to protect the integrity,
                        confidentiality, and accessibility of computer networks and data using both software and
                        hardware technologies.
                    </div>
                    <div class="topic-question">
                        <a href="/questions">Questions</a>
                    </div>
                </div>
                <div class="topic">
                    <div class="img-container">
                        <img src="images/Network-Security.jpg" alt="Network Security">
                    </div>
                    <div class="topic-name">Network Security</div>
                    <div class="topic-description">
                        Network Security is a set of rules and configurations designed to protect the integrity,
                        confidentiality, and accessibility of computer networks and data using both software and
                        hardware technologies.
                    </div>
                    <div class="topic-question">
                        <a href="/questions">Questions</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>