<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <title>MyPortfolio | Resume</title>
    <style>
        * {
            background-color: dark;
        }

        .rounded-circle {
            width: 160px;
            height: 160px;
            border: 5px solid rgb(43, 155, 125);
        }

        .text-underline {
            padding-bottom: 2px;
            border-bottom-style: solid;
            border-bottom-width: 3px;
            width: fit-content;
        }

        .a-tag {
            text-decoration: none;
        }

        i {
            margin-right: 10px !important;
        }
    </style>
</head>

<body>
    {{> navbar isAthenticated=isAthenticated superUser=superUser}}
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <main class="resume-main text-white">
            <!-- Profile -->
            <div class="container border border-primary" style="background-color: rgb(34, 36, 37);">
                <div class="p-3 justify-content-center d-flex flex-wrap-reverse w-100">
                    <div class="w-80 fw-bold">
                        <div class="fs-1">Subrata Das</div>
                        <div class="fs-4 text-info">Web Development</div>
                        <div class="pt-2 ">
                            An award-winning and confident instructor, able to establish rapport quickly and conduct the
                            training sessions with clarity and enthusiasm.
                        </div>
                    </div>
                    <div class="ps-4">
                        <img src="images/profile.png" class="rounded-circle" alt="ProfilePic">
                    </div>
                </div>
            </div>
            <!-- Important links -->
            <div class="container border border-primary p-2" style="background-color: rgb(49, 52, 52);">
                <div class="row fw-bold p-3">
                    <div class="col-sm">
                        <div class="row pb-2">
                            <div>
                                <i class="bi bi-envelope-fill"></i>
                                <a href="mailto:subratadas3250@gmail.com"
                                    class="a-tag text-white">subratadas3250@gmail.com</a>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div>
                                <i class="bi bi-geo-alt-fill"></i>
                                <a href="#" class="a-tag text-white">Midnapore, West Bengal, India</a>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div>
                                <i class="bi bi-twitter"></i>
                                <a href="https://mobile.twitter.com/Subrata3250" target="_blank"
                                    class="a-tag text-white">mobile.twitter.com/Subrata3250</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="row pb-2">
                            <div>
                                <i class="bi bi-phone-fill"></i>
                                <a href="tel:+919749844740" class="a-tag text-white">+91 9749844740</a>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div>
                                <i class="bi bi-linkedin"></i>
                                <a href="https://www.linkedin.com/in/subrata-das-867903243/" target="_blank"
                                    class="a-tag text-white">linkedin.com/in/subrata-das-867903243/</a>
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <i class="bi bi-github"></i>
                                <a href="https://github.com/Subrata2402" target="_blank"
                                    class="a-tag text-white">github.com/Subrata2402</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container border border-info p-3" style="background-color: rgb(40, 71, 60);">
                <div class="row p-2">

                    <div class="col-sm mb-5">

                        <!-- Education Part Start -->
                        <div class="text-uppercase fw-bold fs-2 text-info text-underline">
                            Education
                        </div>
                        <div class="fw-bold fs-4 pt-3">
                            B.Sc
                        </div>
                        <div class="fw-semibold fs-5">
                            Midnapore College &#40;Autonomous&#41;
                        </div>
                        <div class="fst-italic text-info">
                            06/2019 - 07/2022
                        </div>
                        <div class="fst-italic text-info">
                            Courses
                        </div>
                        <div class="fw-semibold">
                            <ul>
                                <li>Mathematics</li>
                            </ul>
                        </div>

                        <div class="fw-bold fs-4 pt-4">
                            M.Sc
                        </div>
                        <div class="fw-semibold fs-5">
                            Vidyasagar University
                        </div>
                        <div class="fst-italic text-info">
                            11/2022 - Present
                        </div>
                        <div class="fst-italic text-info">
                            Courses
                        </div>
                        <div class="fw-semibold">
                            <ul>
                                <li>Computer Science</li>
                            </ul>
                        </div>
                        <!-- Education Part End -->

                        <!-- Projects Part Start -->
                        <div class="text-uppercase fw-bold fs-2 text-info pt-5 text-underline">
                            Projects
                        </div>
                        <div class="fw-bold fs-4 pt-3">
                            Portfolio
                        </div>
                        <div class="fst-italic text-info">
                            05/2023 - 06/2023
                        </div>
                        <div class="fw-bold">
                            <ul>
                                <li><a href="/" target="_blank"
                                        class="a-tag">https://myportfolio.subrata3250.repl.co/</a></li>
                            </ul>

                        </div>
                        <div class="fw-bold fs-4 pt-3">
                            Tic-Tac-Toe &#40;AI&#41;
                        </div>
                        <div class="fst-italic text-info">
                            06/2022 - 06/2022
                        </div>
                        <div class="fw-bold">
                            <ul>
                                <li><a href="https://subrata2402.github.io/Tic-Tac-Toe/" target="_blank"
                                        class="a-tag">https://subrata2402.github.io/Tic-Tac-Toe/</a></li>
                            </ul>

                        </div>

                        <div class="fw-bold fs-4 pt-3">
                            Camelia &#40;Discord Application&#41;
                        </div>
                        <div class="fst-italic text-info">
                            02/2020 - 05/2020
                        </div>
                        <div class="fw-bold mb-5">
                            <ul>
                                <li><a href="https://subrata2402.github.io/Camelia-2.0/" target="_blank"
                                        class="a-tag">https://subrata2402.github.io/Camelia-2.0/</a></li>
                            </ul>
                        </div>
                        <!-- Projects Part End -->

                        <!-- Experience Part Start -->
                        <div class="text-uppercase fw-bold fs-2 text-info text-underline">
                            Work Experience
                        </div>
                        <div class="fw-bold fs-4 pt-2">
                            Chegg Q&amp;A Expert
                        </div>
                        <div class="fw-semibold fs-5">
                            Chegg India Pvt. Ltd.
                        </div>
                        <div class="fst-italic text-info">
                            05/2023 - Present
                        </div>
                        <div class="fst-italic text-info">
                            <span class="fw-bold">Chegg, Inc.</span>, is an American education technology company based
                            in Santa Clara, California. It provides digital and physical textbook rentals, online
                            tutoring, and other student services.
                        </div>
                        <div class="fst-italic text-info">
                            Tasks
                        </div>
                        <div class="fw-semibold">
                            <ul>
                                <li>Work as a Subject Matter Expert in Computer Science.</li>
                            </ul>
                        </div>
                        <div class="fst-italic">
                            <span class="text-info">Contact:</span> Shubham Tomar &#40;+1 855-576-6289&#41;
                        </div>
                        <!-- Experience Part End -->

                    </div>

                    <div class="col-sm mb-3">

                        <!-- Skills Part Start -->
                        <div class="text-uppercase fw-bold fs-2 text-info text-underline">
                            Skills
                        </div>
                        <div class="fw-semibold pt-3">
                            <button type="button" class="btn btn-primary mt-1 fw-semibold">Python</button>
                            <button type="button" class="btn btn-primary mt-1 fw-semibold">HTML</button>
                            <button type="button" class="btn btn-primary mt-1 fw-semibold">CSS</button>
                            <button type="button" class="btn btn-primary mt-1 fw-semibold">Javascript</button>
                            <button type="button" class="btn btn-primary mt-1 fw-semibold">Django</button>
                            <button type="button" class="btn btn-primary mt-1 fw-semibold">Express.js</button>
                            <button type="button" class="btn btn-primary mt-1 fw-semibold">MongoDB</button>
                            <button type="button" class="btn btn-primary mt-1 fw-semibold">Git</button>
                        </div>
                        <!-- Skills Part End -->

                        <!-- Certificates Part Start -->
                        <div class="text-uppercase fw-bold fs-2 text-info mt-5 text-underline">
                            Certificates
                        </div>
                        <div class="fw-semibold fs-5 mt-3">
                            VU Codefest 2023
                        </div>
                        <div class="fst-italic text-info">
                            March 23, 2023
                        </div>
                        <div class="fw-bold mb-4">
                            <ul>
                                <li><a href="images/certificates/vu-codefest.jpg" target="_blank"
                                        class="a-tag">vu-codefest.jpg</a></li>
                            </ul>
                        </div>
                        <div class="fw-semibold fs-5">
                            Complete Python Challenges, Python MCQ&amp; Python Recap in 2022
                        </div>
                        <div class="fst-italic text-info">
                            02/2020 - 05/2020
                        </div>
                        <div class="fw-bold mb-4">
                            <ul>
                                <li><a href="https://ude.my/UC-9b922591-34db-4e69-897e-bd41a75d2211/" target="_blank"
                                        class="a-tag">ude.my/UC-9b922591-34db-4e69-897e-bd41a75d2211/</a></li>
                            </ul>
                        </div>
                        <div class="fw-semibold fs-5">
                            To view more certificates click on the link below
                        </div>
                        <div class="fw-bold mb-5">
                            <ul>
                                <li><a href="/certificates" class="a-tag">Click Here</a></li>
                            </ul>
                        </div>
                        <!-- Certificates Part End -->

                        <!-- Languages Part Start -->
                        <div class="text-uppercase fw-bold fs-2 text-info mt-5 text-underline">
                            Languages
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <div class="fw-semibold fs-5 mt-3">
                                    Bengali
                                </div>
                                <div class="fst-italic text-info">
                                    Native or Bilingual Proficiency
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="fw-semibold fs-5 mt-3">
                                    Hindi
                                </div>
                                <div class="fst-italic text-info">
                                    Full Professional Proficiency
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="fw-semibold fs-5 mt-3">
                                    English
                                </div>
                                <div class="fst-italic text-info">
                                    Professional Working Proficiency
                                </div>
                            </div>
                        </div>
                        <!-- Languages Part End -->

                        <!-- Hobbies Part Start -->
                        <div class="text-uppercase fw-bold fs-2 text-info mt-5 text-underline">
                            Hobbies
                        </div>
                        <div class="pt-3">
                            <button type="button" class="btn btn-outline-success fw-semibold mt-1">Watching
                                Movies</button>
                            <button type="button" class="btn btn-outline-success fw-semibold mt-1">Programming</button>
                            <button type="button" class="btn btn-outline-success fw-semibold mt-1">Adventure</button>
                        </div>
                        <!-- Hobbies Part End -->

                    </div>

                </div>
                <div class="d-flex justify-content-end">
                    <a href="resume/resume.pdf" class="btn btn-primary fw-bold fs-4" download>Download Resume</a>
                </div>
            </div>
        </main>
    </section>
    {{> footer}}
</body>

</html>