<footer>
    <div class="footer-container">
        <div class="map-container">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d472107.06949578057!2d86.93739684043747!3d22.416357850636594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1d5b3b4448d8c3%3A0xf18e7071df67b3a6!2sEducation%20MESS!5e0!3m2!1sen!2sin!4v1699990261586!5m2!1sen!2sin"
                height="350px" width="100%" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="links-container">
            <div class="social-icons">
                <h3>Socials</h3>
                <ul>
                    <a href="https://github.com/Subrata2402" target="_blank"><i class="bi bi-github"></i><span>Github</span></a>
                    <a href="https://www.facebook.com/profile.php?id=100014331670108" target="_blank"><i class="bi bi-facebook"></i><span>Facebook</span></a>
                    <a href="https://www.instagram.com/das_subrata_3250/" target="_blank"><i class="bi bi-instagram"></i><span>Instagram</span></a>
                    <a href="https://discord.com/channels/@me/660337342032248832" target="_blank"><i class="bi bi-discord"></i><span>Discord</span></a>
                    <a href="https://www.linkedin.com/in/subrata-das-867903243/" target="_blank"><i class="bi bi-linkedin"></i><span>LinkedIn</span></a>
                    <a href="https://mobile.twitter.com/Subrata3250" target="_blank"><i class="bi bi-twitter"></i><span>Twitter</span></a>
                </ul>
            </div>
            <div class="footer-nav">
                <h3>Links</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="resume">Resume</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Others</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright &copy; 2023 all rights reserved, Designed by <a href="/">Subrata</a></p>
    </div>
</footer>