<!DOCTYPE html>
<html lang="en">

<head>
    {{> header}}
    <title>MyLibrary</title>
</head>

<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" id="checkbtn"><i class="fa fa-bars"></i></label>
        <label class="logo">MyLibrary</label>

        <ul>
            <li><a class="active" href="/">home</a></li>
            <li><a href="/login">login</a></li>
            <li><a href="/signup">register</a></li>
        </ul>
    </nav>

    <script src="js/script.js"></script>
</body>

</html>