<nav>
    <input type="checkbox" id="check">
    <label for="check" id="checkbtn"><i class="fa fa-bars"></i></label>
    <label class="logo">MyLibrary</label>

    <ul>
        <li><a class="active" href="/" id="home">home</a></li>
        <li><a href="/resume" id="">Resume</a></li>
        <li><a href="#" id="">About</a></li>
        <li><a href="/contact" id="">Contact</a></li>
        {{#if isAuthenticated}}
        <li><a href="/library" id="library">Library</a></li>
        <li><a href="/logout" id="logout">logout</a></li>
        {{else}}
        <li><a href="/login" id="login">login</a></li>
        {{/if}}
    </ul>
</nav>
<script src="js/script.js"></script>