* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bg-color: rgb(24, 26, 27);
}

.title {
    background-color: cadetblue;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.container-box {
    margin: 100px 0;
    display: flex;
    justify-content: center;
}

.login-container {
    width: 450px;
    /* border: 2px solid cadetblue; */
    border-radius: 5px;
    padding: 0 20px;
    box-shadow: 0 0 10px;
}

/* .login-container:hover {
    box-shadow: 0 0 10px;
} */

.login-container h2 {
    text-align: center;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: cadetblue;
    border-radius: 5px;
}

.login-container form {
    padding: 10px 15px;
    border: 2px solid cadetblue;
    border-radius: 5px;
    margin-bottom: 20px;
}

.login-container i {
    font-size: 20px;
    margin-right: 10px;

}

.label-input {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    font-size: 20px;
}

.label-input .input, input[abc="text"] {
    outline: none;
    border: 1px solid cadetblue;
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
}

.label-input input[abc="password"] {
    border: none;
    outline: none;
    background-color: white;
    font-size: 18px;
}

.login-container form button {
    border: none;
    outline: none;
    background-color: cadetblue;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.login-container a {
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.login-container button:hover {
    background-color: rgb(62, 120, 122);
} 

.display-button {
    display: none;
}

/* Add Question part */
.add-question, .contact-container {
    margin: 50px 20%;
    /* width: 100%; */
    border: 2px solid cadetblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    display: flex;
    flex-direction: column;
}

.add-question-container, .contact-container form {
    width: 100%;
    border: 2px solid cadetblue;
    padding: 0 30px 30px;
    border-radius: 5px;
}

.add-question h2, .contact-container h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: green;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    color: white;
}

.add-question-container .topics {
    display: flex;
    padding-top: 20px;
}

.add-question-container .topics label {
    flex: 0.1;
}

.add-question-container .topics select {
    flex: 0.9;
    padding: 0 10px;
    outline: none;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.add-question-container .topics select option {
    font-size: 20px;
    outline: none;
    border-radius: 5px;
    border: 1px solid cadetblue;
    background-color: white;
    color: black;
}

.add-question-container label, .contact-container label {
    font-size: 20px;
    margin: 15px 0 5px;
}

.add-question-container textarea, .contact-container textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid cadetblue;
    outline: none;
    background-color: white;
    color: black;
}

.add-question-container button, .contact-form button {
    outline: none;
    border: none;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: cadetblue;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

.add-question-container button:hover {
    opacity: 0.8;
}

/* End Add Question part */

/* Library Container Start */

.library-container {
    padding: 20px 20%;
}

.library-container a,
.topic-question a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(5, 157, 5);
    padding: 10px;
    border-radius: 5px;
}

.library-container a:hover {
    color: white;
}

.library-container .topics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.library-container .topic {
    width: 350px;
    /* height: 300px; */
    background-color: cadetblue;
    /* border: 2px solid; */
    border-radius: 5px;
    margin-top: 20px;
}

.library-container .topic:hover {
    box-shadow: 0 0 10px 0;
    transform: scale(1.03);
}

.library-container .img-container {
    padding: 10px;
}

.library-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.topic-name {
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    text-align: center;
}

.topic-description {
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

.topic-question {
    padding: 10px;
}

.library-container a:hover,
.topic-question a:hover {
    color: white;
    background-color: green;
}

/* Library Container End */

/* Contact Container Start */

.contact-container span, .add-question-container span {
    color: red;
}

/* Responsive Design */
@media (max-width: 1000px) {
    .container-box {
        margin-top: 50px;

    }

    .login-container {
        width: 95%;
        padding: 0 10px;
    }

    .login-container h2 {
        margin: 10px 0;
    }

    .label-input {
        flex-direction: column;
        align-items: start;
    }

    .label-input label {
        margin-bottom: 15px;
        width: 100%;
    }

    .label-input input {
        width: 100%;
    }

    .add-question, .contact-container {
        margin: 20px 2%;
    }

    .library-container {
        padding: 10px;
    }

    .add-question, .add-question-container,
    .contact-container, .contact-container form {
        padding: 10px;
    }

    .add-question-container .topics {
        padding-top: 10px;
        flex-direction: column;
    }
    
    .add-question-container .topics select {
        padding: 10px;
        outline: none;
        border-radius: 5px;
        background-color: white;
        color: black;
    }
}