* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bg-color: rgb(24, 26, 27);
}

.title {
    background-color: cadetblue;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.container-box {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 700px;
    border: 2px solid cadetblue;
    border-radius: 5px;
    padding: 35px;
    box-shadow: 0 0 10px 0 rgb(103, 125, 131);
}

.login-container h2 {
    text-align: center;
    padding: 0 20px 10px;
    margin-bottom: 20px;
}

.label-input {
    display: flex;
    padding: 10px 0;
    align-items: center;
}

.label-input label {
    flex: 40%;
}

.label-input input {
    flex: 60%;
    border: none;
    outline: none;
    border-bottom: 2px solid cadetblue;
    padding-bottom: 5px;
    background-color: white;
    color: black;
}

button {
    border: none;
    outline: none;
    background-color: cadetblue;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* a:hover {
    text-decoration: underline;
} */

button:hover {
    opacity: 0.8;
}

button:active {
    transform: scale(1.1);
}

.display-button {
    display: none;
}

footer {
    width: 100%;
    background-color: cadetblue;
    position: relative;
    bottom: 0;
    text-align: center;
    padding: 6px 3px;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

/* Add Question part */
.add-question {
    margin: 50px 20% 0;
}

.add-question-container {
    width: 100%;
    border: 2px solid cadetblue;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    display: flex;
    flex-direction: column;
}

.add-question-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.add-question-container label {
    font-size: 20px;
    margin: 15px 0 5px;
}

.add-question-container textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid cadetblue;
    outline: none;
    background-color: white;
    color: black;
}

.add-question-container button {
    outline: none;
    border: none;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: cadetblue;
    color: white;
    cursor: pointer;
}

/* End Add Question part */

/* Library Container Start */

.library-container {
    padding: 20px 20%;
}

.library-container a,
.topic-question a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(5, 157, 5);
    padding: 10px;
    border-radius: 5px;
}

.library-container a:hover {
    color: white;
}

.library-container .topics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.library-container .topic {
    width: 350px;
    /* height: 300px; */
    background-color: cadetblue;
    /* border: 2px solid; */
    border-radius: 5px;
    margin-top: 20px;
}

.library-container .topic:hover {
    box-shadow: 0 0 10px 0;
}

.library-container .img-container {
    padding: 10px;
}

.library-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.topic-name {
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    text-align: center;
}

.topic-description {
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

.topic-question {
    padding: 10px;
}

.library-container a:hover,
.topic-question a:hover {
    color: white;
    background-color: green;
}

/* Library Container End */

@media (max-width: 800px) {
    .container-box {
        margin-top: 50px;
    }

    .login-container {
        width: 90%;
    }

    .label-input {
        flex-direction: column;
        align-items: start;
    }

    .label-input label {
        margin-bottom: 15px;
        width: 100%;
    }

    .label-input input {
        width: 100%;
    }

    .add-question {
        margin: 20px 2%;
    }

    .library-container {
        padding: 10px;
    }
}