* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bg-color: rgb(24, 26, 27);
}

::-webkit-scrollbar {
    background-color: var(--bg-color);
    color: white;
}

::selection {
    background-color: black;
    color: white;
}

/* Hero section start */
#hero {
    width: 100%;
    min-height: 100vh;
    background: url("../images/web-development.jpg");
    background-size: cover;
    overflow: hidden;
}

/* #hero:before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 60px;
    left: 0;
    right: 0;
} */

#hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#hero .hero-container p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

#hero .hero-container p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

/* Hero section end */

/* About Section */

.about-container {
    background-color: var(--bg-color);
    border-radius: 8px;
}

.about-mf .box-shadow-full {
    padding: 20px;
}

/*--/ Sections /--*/
.sect-4 {
    padding: 4rem 0;
}

.sect-pt4 {
    padding-top: 4rem;
}

.sect-mt4 {
    margin-top: 4rem;
}

.title-box {
    margin-bottom: 4rem;
}

/*--/ Title Left /--*/
.title-box-2 {
    margin-bottom: 3rem;
}

.title-left {
    font-size: 2rem;
    position: relative;
}

.title-left:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}

.title-s {
    font-weight: 600;
    color: white;
    font-size: 1.1rem;
}

.about-mf .about-img {
    margin-bottom: 2rem;
}

.about-mf .about-img img {
    margin-left: 10px;
}

@media (min-width: 767px) {
    .about-mf .box-pl2 {
        margin-top: 3rem;
        padding-left: 0rem;
    }
}

.skill-mf span {
    color: rgb(168, 176, 167);
}

.skill-mf .progress {
    background-color: #cde1f8;
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
}

.skill-mf .progress .progress-bar {
    height: 0.7rem;
    background-color: #0078ff;
}

/* Resume Section */

.resume-main {
    z-index: 1;
}

/* Login Container */

.title {
    background-color: cadetblue;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.container-box {
    margin: 100px 0;
    display: flex;
    justify-content: center;
    z-index: 1;
    color: white;
}

.login-container {
    width: 450px;
    border: 2px solid cadetblue;
    border-radius: 8px;
    padding: 0 20px;
    box-shadow: 0 0 10px;
}

/* .login-container:hover {
    box-shadow: 0 0 10px;
} */

.login-container h2 {
    text-align: center;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: cadetblue;
    border-radius: 5px;
}

.login-container form {
    padding: 10px 15px;
    border: 2px solid cadetblue;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: var(--bg-color);
    box-shadow: 0 0 10px;
}

.login-container i {
    font-size: 20px;
    margin-right: 10px;

}

.label-input {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    font-size: 20px;
}

.label-input .input,
input[abc="text"] {
    outline: none;
    border: 1px solid cadetblue;
    padding: 10px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
}

.label-input input[abc="password"] {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
}

.login-container form button {
    border: none;
    outline: none;
    background-color: cadetblue;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.login-container a {
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.login-container button:hover {
    background-color: rgb(62, 120, 122);
}

.display-button {
    display: none;
}

/* Add Question part */
.add-question,
.contact-container {
    margin: 50px 20%;
    /* width: 100%; */
    border: 2px solid cadetblue;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.add-question-container,
.contact-container form {
    width: 100%;
    border: 2px solid cadetblue;
    padding: 0 30px 30px;
    border-radius: 8px;
    background-color: var(--bg-color);
    box-shadow: 0 0 10px;
}

.add-question h2,
.contact-container h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: green;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    color: white;
}

.add-question-container .topics {
    display: flex;
    padding-top: 20px;
}

.add-question-container .topics label {
    flex: 0.1;
}

.add-question-container .topics select {
    flex: 0.9;
    padding: 0 10px;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.add-question-container .topics select option {
    font-size: 20px;
    outline: none;
    border-radius: 5px;
    border: 1px solid cadetblue;
    background-color: var(--bg-color);
    color: white;
}

.add-question-container label,
.contact-container label {
    font-size: 20px;
    margin: 15px 0 5px;
}

.add-question-container textarea,
.contact-container textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid cadetblue;
    outline: none;
    background-color: transparent;
    color: white;
}

.add-question-container button,
.contact-form button {
    outline: none;
    border: none;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: cadetblue;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 20px;
}

.add-question-container button:hover,
.contact-form button:hover {
    opacity: 0.8;
}

/*   End Add Question part   */

/* Library Container Start */

.library-container {
    padding: 20px 21%;
}

.library-container a,
.topic-question a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(5, 157, 5);
    padding: 10px;
    border-radius: 5px;
}

.library-container a:hover {
    color: white;
}

.library-container .topics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.library-container .topic {
    width: 350px;
    /* height: 300px; */
    background-color: cadetblue;
    /* border: 2px solid; */
    border-radius: 5px;
    margin-top: 20px;
}

.library-container .topic:hover {
    border: 2px solid cadetblue;
    box-shadow: 0 0 10px 0;
    transform: scale(1.03);
}

.library-container .img-container {
    padding: 10px;
}

.library-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.topic-name {
    font-size: 20px;
    font-weight: bold;
    padding: 0 10px;
    text-align: center;
}

.topic-description {
    font-size: 15px;
    padding: 10px;
    text-align: center;
}

.topic-question {
    padding: 10px;
}

.library-container a:hover,
.topic-question a:hover {
    color: white;
    background-color: green;
}

/* Responsive for library container */

@media screen and (max-width: 1850px) {
    .library-container {
        padding: 20px 15%;
    }
}

@media screen and (max-width: 1540px) {
    .library-container {
        padding: 20px 10%;
    }
}

@media screen and (max-width: 1340px) {
    .library-container {
        padding: 20px 5%;
    }
}

@media screen and (max-width: 1200px) {
    .library-container {
        padding: 10px;
    }
}

@media screen and (max-width: 1100px) {
    .library-container {
        padding: 10px 15%;
    }
}

@media screen and (max-width: 1030px) {
    .library-container {
        padding: 10px 10%;
    }
}

@media screen and (max-width: 900px) {
    .library-container {
        padding: 10px 5%;
    }
}

@media screen and (max-width: 800px) {
    .library-container {
        padding: 10px;
    }
}

@media screen and (max-width: 730px) {
    .library-container .topics {
        justify-content: center;
    }
}

/* Library Container End */

/* Contact Container Start */

.contact-container span,
.add-question-container span {
    color: red;
}

/* Responsive Design */
@media (max-width: 1050px) {
    #hero {
        background-attachment: fixed;
    }

    .container-box {
        margin-top: 50px;

    }

    .login-container {
        width: 95%;
        padding: 0 10px;
    }

    .login-container h2 {
        margin: 10px 0;
    }

    .label-input {
        flex-direction: column;
        align-items: start;
    }

    .label-input label {
        margin-bottom: 15px;
        width: 100%;
    }

    .label-input input {
        width: 100%;
    }

    .add-question,
    .contact-container {
        margin: 20px 2%;
    }

    .add-question,
    .add-question-container,
    .contact-container,
    .contact-container form {
        padding: 10px;
    }

    .add-question-container .topics {
        padding-top: 10px;
        flex-direction: column;
    }

    .add-question-container .topics select {
        padding: 10px;
        outline: none;
        border-radius: 5px;
        background-color: white;
        color: black;
    }
}